# Build results
bin/
obj/
/publish/

# Visual Studio files
.vs/
*.user
*.suo

# Cache files
*.cache


# Secret management
secrets.json
*.usersecrets
.env
*.env
**/.env.*
.env.example

# Node / Frontend
node_modules/

# Misc
private/

# python
ai_models/
**/*.pyc
**/__pycache__


