--
-- PostgreSQL database dump
--

\restrict 58XvHFfPCDqRwNcpBoEepAzqyMcsdibGsmQxSeiqdg8Y9Ig9wYSkGdnLDWasLCq

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg12+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
\.


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ai_models; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (log_id, actor_id, action_type, target_type, target_id, details, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: avatar_frames; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.avatar_frames (id, name, image_url, description, requirement_type, requirement_value, is_active, created_at) FROM stdin;
2	Khung Admin Tß╗æi Th╞░ß╗úng	/img/frames/admin_gold.webp	D├ánh cho quß║ún trß╗ï vi├¬n cao cß║Ñp	MANUAL_GRANT	0	t	2026-05-29 13:56:48.097595
3	T├ón Binh Ch─âm Chß╗ë	/img/frames/newbie_teal.webp	Ho├án th├ánh kh├│a hß╗ìc ─æß║ºu ti├¬n	FINISH_COURSE	1	t	2026-05-29 13:56:48.097595
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: managers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.managers (manager_id, role, display_name) FROM stdin;
2	admin	Super Administrator
3	staff	Hß╗ù trß╗ú kß╗╣ thuß║¡t
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupons (coupon_id, manager_id, coupon_code, coupon_type, discount_value, min_order_value, start_date, end_date, usage_limit, used_count, is_active) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, full_name, bio, date_of_birth) FROM stdin;
1	instructor	\N	\N
\.


--
-- Data for Name: instructors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.instructors (instructor_id, stripe_account_id, stripe_onboarding_status, payouts_enabled, charges_enabled, professional_title, expertise_categories, linkedin_url, youtube_url, facebook_url, document_url, approval_status, stripe_country) FROM stdin;
1	\N	\N	f	f	\N	\N	\N	\N	\N	\N	Approved	\N
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_items (id, user_id, course_id, added_date, price) FROM stdin;
\.


--
-- Data for Name: chats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chats (chat_id, chat_name, chat_type, context_type, context_id, created_at, last_message_at) FROM stdin;
\.


--
-- Data for Name: chat_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_participants (chat_id, account_id, role, unread_count, last_read_at, joined_at) FROM stdin;
\.


--
-- Data for Name: courses_ai_integrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: course_ai_usage_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_ai_usage_logs (log_id, integration_id, interaction_type, input_json, output_json, latency_ms, token_usage, error_message, log_created_at) FROM stdin;
\.


--
-- Data for Name: course_exts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_exts (course_id, title_hash, description_hash, what_you_will_learn_hash, requirements_hash, thumbnail_hash) FROM stdin;
1	409e320ea9c5bab83d1752d9a1db02d6	bf4edb6a1f1dd7c75f104f586231625d	fd37b27dc6b3b439229cfcc365e4c0bb	bf4edb6a1f1dd7c75f104f586231625d	697929367c6b9285ce546f71bdb70729
2	3e1af140b0350b94a5f03ee4b8d5215e	431236ba015ef7a23754b0bbeafac1c1	431236ba015ef7a23754b0bbeafac1c1	a583364c7a0fa01987dca36f90596d43	1b946829c1b0e540d3a29bcbb3dda37d
\.


--
-- Data for Name: course_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_reports (course_report_id, reporter_id, course_id, resolver_id, reason, description, course_reports_status, resolution_note, resolved_at, access_granted_until, created_at) FROM stdin;
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enrollments (enrollment_id, user_id, course_id, title, description, completed_date, is_completed, enroll_date, last_accessed_at, enrollment_status) FROM stdin;
\.


--
-- Data for Name: course_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_reviews (course_review_id, enrollment_id, rating, comment, course_review_status, created_at, updated_at, is_removed) FROM stdin;
\.


--
-- Data for Name: course_review_moderation_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_review_moderation_logs (log_id, model_id, course_review_id, input_json, output_json, latency_ms, log_status, error_message, log_created_at) FROM stdin;
\.


--
-- Data for Name: course_review_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_review_reports (course_review_report_id, reporter_id, course_review_id, resolver_id, reason, description, user_reports_status, resolution_note, resolved_at, access_granted_until, created_at) FROM stdin;
\.


--
-- Data for Name: enrollment_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enrollment_progress (enrollment_id, learned_material_count, last_modified_at) FROM stdin;
\.


--
-- Data for Name: order_info; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_info (order_id, user_id, order_date, order_status, payment_method) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, order_id, course_id, purchase_price, coupon_used, original_price, coupon_code, coupon_type, discount_amount) FROM stdin;
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transactions (transaction_id, order_item_id, account_from, account_to, amount, transfer_rate, stripe_session_id, stripe_paymentintent_id, currency, transactions_status, transaction_type, transaction_created_at) FROM stdin;
\.


--
-- Data for Name: instructor_payouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.instructor_payouts (payout_id, transaction_id, instructor_id, payout_amount, payout_date, is_paid, payout_status, stripe_transfer_id, stripe_payout_id, paid_to_bank_at) FROM stdin;
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lessons (lesson_id, course_id, title, description, thumbnail_url, created_at, updated_at, lesson_status, is_removed) FROM stdin;
1	1	lesson one	\N	\N	2026-05-29 14:01:04.071334	2026-05-29 14:01:04.07136	active	f
2	1	lesson two	\N	\N	2026-05-29 14:02:30.579572	2026-05-29 14:02:30.579573	active	f
3	2	step 1	\N	\N	2026-05-30 00:41:23.163865	2026-05-30 00:41:23.163891	active	f
\.


--
-- Data for Name: learning_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lesson_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_reviews (lesson_review_id, enrollment_id, lesson_id, rating, comment, lesson_review_status, created_at, updated_at, is_removed) FROM stdin;
\.


--
-- Data for Name: lesson_review_moderation_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_review_moderation_logs (log_id, model_id, lesson_review_id, input_json, output_json, latency_ms, log_status, error_message, log_created_at) FROM stdin;
\.


--
-- Data for Name: lesson_review_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_review_reports (lesson_review_report_id, reporter_id, lesson_review_id, resolver_id, reason, description, user_reports_status, resolution_note, resolved_at, access_granted_until, created_at) FROM stdin;
\.


--
-- Data for Name: lockouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lockouts (lockout_id, account_id, lockout_type, lockout_level, lockout_start, lockout_end) FROM stdin;
\.


--
-- Data for Name: material_completions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_completions (id, enrollment_id, material_id, completed_at) FROM stdin;
\.


--
-- Data for Name: material_embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_embeddings (embedding_id, material_id, embedding, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (message_id, chat_id, sender_id, content, is_seen, message_status, sent_at, received_at) FROM stdin;
\.


--
-- Data for Name: message_attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_attachments (attachment_id, message_id, file_url, file_name, file_type, file_size, created_at) FROM stdin;
\.


--
-- Data for Name: message_moderation_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_moderation_logs (log_id, model_id, message_id, input_json, output_json, latency_ms, log_status, error_message, log_created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: platform_withdrawals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platform_withdrawals (withdrawal_id, manager_id, amount, currency, stripe_payout_id, status, description, created_at, arrived_at) FROM stdin;
\.


--
-- Data for Name: system_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transaction_exts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transaction_exts (transaction_id, refund_reason, refund_admin_note, refund_requested_at) FROM stdin;
\.


--
-- Data for Name: user_avatar_frames; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_avatar_frames (user_id, frame_id, unlocked_at, is_equipped) FROM stdin;
\.


--
-- Data for Name: wishlist_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlist_items (id, user_id, course_id, added_date) FROM stdin;
\.


--
-- Name: accounts_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_account_id_seq', 3, true);


--
-- Name: ai_models_model_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_models_model_id_seq', 3, true);


--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_log_id_seq', 1, false);


--
-- Name: avatar_frames_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.avatar_frames_id_seq', 3, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 1, false);


--
-- Name: categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_category_id_seq', 13, true);


--
-- Name: chats_chat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chats_chat_id_seq', 1, true);


--
-- Name: coupons_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupons_coupon_id_seq', 1, false);


--
-- Name: course_ai_usage_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_ai_usage_logs_log_id_seq', 1, false);


--
-- Name: course_reports_course_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_reports_course_report_id_seq', 1, false);


--
-- Name: course_review_moderation_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_review_moderation_logs_log_id_seq', 1, false);


--
-- Name: course_review_reports_course_review_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_review_reports_course_review_report_id_seq', 1, false);


--
-- Name: course_reviews_course_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_reviews_course_review_id_seq', 1, false);


--
-- Name: courses_ai_integrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_ai_integrations_id_seq', 6, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_course_id_seq', 2, true);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.enrollments_enrollment_id_seq', 1, false);


--
-- Name: instructor_payouts_payout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.instructor_payouts_payout_id_seq', 1, false);


--
-- Name: learning_materials_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.learning_materials_material_id_seq', 5, true);


--
-- Name: lesson_review_moderation_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_review_moderation_logs_log_id_seq', 1, false);


--
-- Name: lesson_review_reports_lesson_review_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_review_reports_lesson_review_report_id_seq', 1, false);


--
-- Name: lesson_reviews_lesson_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_reviews_lesson_review_id_seq', 1, false);


--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_lesson_id_seq', 3, true);


--
-- Name: lockouts_lockout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lockouts_lockout_id_seq', 1, false);


--
-- Name: material_completions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_completions_id_seq', 1, true);


--
-- Name: material_embeddings_embedding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_embeddings_embedding_id_seq', 1, false);


--
-- Name: message_attachments_attachment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_attachments_attachment_id_seq', 1, false);


--
-- Name: message_moderation_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_moderation_logs_log_id_seq', 1, false);


--
-- Name: messages_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_message_id_seq', 1, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 8, true);


--
-- Name: order_info_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_info_order_id_seq', 1, false);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, false);


--
-- Name: platform_withdrawals_withdrawal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.platform_withdrawals_withdrawal_id_seq', 1, false);


--
-- Name: system_configs_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_configs_config_id_seq', 7, true);


--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_transaction_id_seq', 1, false);


--
-- Name: wishlist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlist_items_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict 58XvHFfPCDqRwNcpBoEepAzqyMcsdibGsmQxSeiqdg8Y9Ig9wYSkGdnLDWasLCq

